@import url('https://fonts.googleapis.com/css?family=Raleway:700');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
  font-family: 'Raleway', Avenir, sans-serif;
}

.header {
  height: 100px;
  background-color: #373a47;
  display: flex;
}

.headerText {
  flex: 1;
  color: #fff;
  font-size: 38px;
  align-self: center;
  padding-left: 100px;
}

.infoWindow {
  border-right-style: solid;
  border-right-width: 5px;
  padding-right: 10px;
  border-color: #f3f3f3;
}

.infoWindowName {
  font-family: 'Raleway', Avenir, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  max-width: 200px;
  color: #373a47;
  margin-bottom: 0px;
}

.infoWindowCategoryContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.infoWindowCat {
  font-family: 'Raleway', Avenir, sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  max-width: 158px;
  color: #373a47;
  margin: 5px;
}

.infoWindowCatIcon {
  background: #00cc99;
  border-radius: 10px;
  margin: 5px;
}

.infoWindowImg {
  text-align: center;
  border-radius: 50%;
}

.infoWindowAddress {
  display: block;
  text-align: center;
  font-family: 'Raleway', Avenir, sans-serif;
  font-size: 12px;
  font-weight: 300;
  max-width: 200px;
}

.infoWindowMore {
  display: block;
  font-family: 'Raleway', Avenir, sans-serif;
  font-size: 12px;
  color: #c94e50;
  text-align: center;
}

.by4S {
  color: #c3c3c3;
  font-size: 9px;
  text-align: center;
}

.filterInput {
  min-width: 210px;
  background: #494956;
  height: 40px;
  margin: 0;
  border: 0;
  border-radius: 10px;
  margin-bottom: 30px;
  padding-left: 20px;
  font-size: 15px;
  color: white;
  opacity: 0.8;
  font-weight: 300;
}

.filterTitleContainer {
  padding: 10px;
}

.filterTitle {
  font-size: 15px;
  margin-left: 10px;
  display: inline;
}

.deleteFilterIcon {
  position: absolute;
  top: 114px;
  left: 245px;
  opacity: 0.5;
}

.deleteFilterIcon:hover {
  opacity: 1;
}

/* ----------------- react burger menu ------------------ */

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #bdc3c7;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-menu a {
  color: #b8b7ad;
  text-decoration: none;
  cursor: pointer;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

.list-item {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 900;
}

.list-item:hover {
  color: #c94e50;
  opacity: 1;
}


/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.dark {
  opacity: 0.5;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only screen and (max-width: 500px) {
  .header {
    height: 50px;
  }
  .headerText {
    font-size: 17px;
    padding-left: 50px;
  }
  .bm-burger-button {
    width: 20px;
    height: 20px;
    left: 15px;
    top: 15px;
  }

}
